.l-wizard {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-column-gap: 32px;
  align-items: center;
}

.l-wizard__page {
  margin-bottom: calc(var(--padding) * 5)
}