.l-labels-list {
  display: flex;
  flex-direction: column;
  gap: var(--m-padding);
  max-width: 100%;
}

.l-labels-list__label {
  display:flex;
  background-color: white;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  border-radius: var(--border-radius);
}

.l-labels-list--clickable:hover {
  border-color: rgba(0,0,0, 0.1);
  cursor: pointer;
}

.l-labels-list__label-canvas {
  max-width: 100%;
}
