<html>
<head>
  <link href="/static/css/html/canvas.css" rel="stylesheet" /> 
  <link href="/static/css/html/main.css" rel="stylesheet" /> 
  <link href="/static/css/components/c-logo-grid.css" rel="stylesheet" /> 
  <link href="/static/css/components/c-logo.css" rel="stylesheet" /> 
</head>
<body>
<main class="js-label-generator">
<p><strong>Paper Size:</strong> ???</p>

<section>
<h2>Select Logo </h2>
<div class="c-logo-grid">
{{ range .Logos }}
  <div class="c-logo js-logo-btn">
    <img class="c-logo__img js-logo-img" src="{{ .ImagePath }}" />
    <p  class="c-logo__name">{{ .Name }}</p>
  </div>
{{ end }}
</div>
</section>

<section>
  <canvas width="1050" height="337" class="js-label-canvas"></canvas>
</section>
</main>

<section>
  <button class="js-print-btn">Print</button>
</section>

<footer>
  <p><a href="http://printboy.local:63">CUPs Admin Page</a></p>
</footer>

<script src="/static/js/js-label-generator.js" async defer ></script>
</body>
</html>