<html>
<head>
  <link href="/static/css/pages/index.css" rel="stylesheet" />

  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

  <title>Printboy</title>
</head>
<body class="l-header-footer">

{{ template "c-header" }}

<main class="l-header-footer__main">
  
  <div class="l-wizard">

    <div class="l-wizard__pages">
      
      <section class="l-wizard__page">
        <h2>Step 1: Select a Logo</h2>
        <div class="c-logo-grid">
        {{ range .Logos }}
          <div class="c-logo js-logo-btn">
            <img class="c-logo__img js-logo-img" src="{{ . }}" />
          </div>
        {{ end }}
          <div class="c-logo js-logo-btn">
            <div class="c-logo_placeholder">
              No Logo
            </div>
          </div>
        </div>
        <div>
          <form action="/api/upload-logo" method="post" enctype="multipart/form-data">
              <input
              type="file"
              id="logo-upload"
              name="logo-upload"
              accept="image/png, image/jpeg">
            <input name="redirect-path" type="text" value="/" hidden>
            <input class="c-button" type="submit" value="Upload Logo">
          </form>
        </div>
      </section>
  
      <section class="l-wizard__page">
        <h2>Step 2: Select Content</h2>
        <div class="c-contents-list">
        {{ range .Contents }}
        <div class="c-content js-content-btn">
          <div class="c-content__lines">
          {{ range .Lines }}
            {{- if eq .Weight "bold" -}}
            <span class="js-content-line" style="font-weight: 700;">
            {{- else -}}
            <span class="js-content-line">
            {{- end -}}
            {{ .Text }}</span>
            <br />
          {{ end }}
          </div>
        </div>
        {{ end }}
        </div>
      </section>
  
      <section class="l-wizard__page">
        <h2>Step 3: Print</h2>
        
        <div class="l-print">
          <div class="l-print__copies">
            <p>How many copies?</p>
            <p><input class="c-number-input js-print-copies" type="number" value="1" min="1" /></p>
          </div>
          <button class="l-print__btn c-button js-print-btn">Print</button>
        </div>
      </section>
  
    </div>
  
    <div class="l-wizard__preview">
      <div class="c-hr"><span class="c-hr__label">Preview</span></div>
      <canvas class="c-generate-label-preview js-label-canvas" width="1050" height="337"></canvas>
    </div>
  
  </div>

  <div class="c-hr"><span class="c-hr__label">or</span></div>

  <section class="l-section u-center">
    <a href="/generate-label" class="c-button">Generate New Label</a>
  </section>

</main>

{{ template "c-footer" . }}

</body>
</html>